body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(8deg,  rgba(163,219,0,1) 27%, rgba(82,149,57,1) 57%, rgba(21,74,20,1) 97%);
}
